[Unit]
Description=Map grapher
After=network-online.target redis.service rrdcached.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/map-grapher

[Install]
WantedBy=multi-user.target
